*{
    margin: 0;
}
/* Frame 1 */
/* header content */
.header-section{
    background-image: url("../images/banner/banner1.png");
    background-repeat: no-repeat;
    background-position: center;
    text-align: right;
    padding-right: 230px;
    padding-top: 216px;
}
.heading{
    font-size: 65px;
    color: #151414;
}
.header-description{
    font-size: 16px;
    font-weight: 400;
    color: #444343;
    margin-top: 24px;
}
.btn-primary{
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    border: none;
    background: #F15B22;
    border-radius: 5px;
    padding: 21px 25px 20px 26px;
    margin-top: 30px;
    margin-bottom: 166px;
}
/* failures content */
.fail-primary{
    display: flex;
    justify-content: space-around;

}
.fail-img{
    margin-top: 131px;
    margin-left: 206px;
    margin-bottom: 130px;
}
.fail-secondary{
    margin-right: 322px;
}
.fail-heading{
    margin-top: 370px;
    font-size: 40px;
    color: #151414;
    margin-bottom: 24px;
}
.fail-description{
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin-bottom: 16px;
}
.fail-list{
    font-weight: 400;
    font-size: 16px;
    color: #444343
}
/* Plans */
.plan-details{
    text-align: center;
    margin-left: 230px;
    margin-right: 230px;
}
.plan-header{
    font-size: 40px;
    margin-bottom: 50px;
}
.plan-container{
    display: flex;
    justify-content: space-between;
}
.plan-title{
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 10px;
}
.plan-description{
    font-weight: 500;   
    font-size: 25px;
    color: #737272;
}
/* Image Gradient */
.blend-section{
    margin-top: 130px;
    background-image: url("/images/watch.png"), url("/images/gradient3.png");
    border: none;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: center;
    text-align: left;
    padding-left: 294px;
    background-size: auto;
    background-blend-mode: screen;
}
.blend-heading{
    padding-top: 60px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 40px;
}
.blend-btn{
    color: #F15B22;
    font-weight: 600;
    font-size: 20px;
    border: none;
    background: #FFFFFF;
    border-radius: 5px;
    margin-top: 24px;
    padding: 20px 36px;
    margin-bottom: 60px;
}
.contact-details{
    display: flex;
    margin-top: 130px;
    justify-content: space-between;
    height: 577px;
    background: #151414;
}
.contact-left{
    margin-top: 130px;
    margin-left: 230px;
}
.contact-head-1{
    font-weight: 700;
    font-size: 45px;
    color: #F8F8F8;
    margin-bottom: 16px;
}
.contact-description{
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin-top: 24px;
}
.contact-icons{
    margin-top: 30px;
}
.contact-right{
    margin-top: 130px;
    margin-right: 229px;
}
.contact-head-2{
    font-weight: 600;
    font-size: 25px;
    color: #FFFFFF;
    margin-bottom: 30px;
}
.contact-box{
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    width: 325px;
    height: 64px;
    box-sizing: border-box;
    margin-bottom: 16px;
    background: #151414;
}
.contact-btn{
    font-weight: 600;
    font-size: 20px;
    color: #F15B22;
    background: #FFFFFF;
    border-radius: 8px;
    padding: 20px 30px;
    font-family: 'Inter';
}
